<nav class="flex items-center justify-center h-[60px] w-full">
    <div class="max-w-screen-md w-full">
        <div class="flex justify-between">
            <a href="/" class="text-xl font-semibold">Home</a>
            <a href="/todo" class="text-xl font-semibold">Todo</a>
            <a href="/" class="text-xl font-semibold">About</a>
        </div>
    </div>
</nav>